<html>
    <body>
        <div>
            Catalog App
            <a href={{ url_for('home')}}>Home</a>
        </div>
    <div>
        <h1>Catagories</h1>
            <ul>
                {% for catagory in catagories %}
                <li><strong><a href={{ url_for('items_by_catagory', catagory=catagory.name) }}>{{ catagory.name }}</a></strong> </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h1>{{ selected_catagory }} Items</h1>
                <ul>
                    {% for item in items %}
                    <li><strong><a href={{ url_for('view_item', item_group=item.catagory.name, item=item.name) }}>{{ item.name }}</a></strong> </li>
                    {% endfor %}
                </ul>
        </div>
    </body>
</html>