<html>
    <body>
        <div>
            <h1><a href={{ url_for('home')}}>Home</a></h1>
        </div>
    <div>
        <h1>Edit Item</h1>
        <div>
            <form action="" method = "post">
                <label for="name">Name:</label>
                <input type ="text" maxlength="100" name="name" value="{{ item.name }}">
                <label for="name">Description:</label>
                <input type ="text" maxlength="100" name="description" value="{{ item.description }}">
                <label for="name">Catagory:</label>
                <input type ="text" maxlength="100" name="catagory" value="{{ item.catagory.name }}">
                <input type="hidden", name="id", value="{{ item.id }}">
                <button type="submit" type="submit">
                </div>
            </form>
        </div>
    </div>
    </body>
</html>