<html>
    <body>
        <div>
            Catalog App
            {% if logged %}
            <a href="{{url_for('google_logout')}}">Logout</a>
            {% else %}
            <a href="{{url_for('show_login')}}">Login</a>
            {% endif %}
        </div>
    <div>
        <h1>Catagories</h1>
            <ul>
                {% for catagory in catagories %}
                <li><strong><a href={{ url_for('items_by_catagory', catagory=catagory.name) }}> {{ catagory.name }} </a></strong></li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h1>Items</h1>
                <ul>
                    {% for item in items %}
                    <li><strong><a href={{ url_for('view_item', item_group=item.catagory.name, item=item.name) }}>{{ item.name }}</a></strong> </li>
                    {% endfor %}
                </ul>
                <div>
                    {% if logged %}
                    <a href={{ url_for('add_item') }}>Add item</a>
                    {% endif %}
                </div>
        </div>
    </body>
</html>